{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}

{% block title %} Add a comment {% endblock %}

{% block body %}
    <div class="add-comments">
        {{ form(comments_form) }}
    </div>


{% endblock %}