{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}

{% block body %}
    <div class="comments">

        <a href="{{ path('comments_edit', {id: comments.id})  }}" class="comments-content">
            <div class="comments-content">{{ comments.content | raw }}</div>
            <div class="comments-user">{{ comments.user.email }}</div>
        </a>

    </div>
{% endblock %}