{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Content</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comments.id }}</td>
                <td>{{ comments.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('article_add') }}">{{ 'Add a new item' | trans }}</a>
{% endblock %}
