{% extends 'base.html.twig' %}
{% import '_macros/alert.html.twig' as Dialog %}

{% block body %}
    <div class="article">

        <a href="{{ path('article_edit', {id: article.id})  }}" class="article-content">

            <h1 class="article-title">{{ article.title }}</h1>
            <div class="article-content">{{ article.content | raw }}</div>
            <div class="article-user">{{ article.user.email }}</div>
        </a>
    </div>
{% endblock %}